<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <!-- Title and Subtitle as Hyperlink -->
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <div>
          <span class="font-weight-bold">The Canon of Latent Spaces</span>
        </div>
        <div>
          <span class="font-italic" style="font-size: smaller;">How Large AI Models Encode Art and Culture</span>
        </div>
      </a>
      
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- about -->
          <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              about
              {% if page.permalink == '/' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>

          <!-- Team -->
          <li class="nav-item {% if page.url contains '/team/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/team/' | relative_url }}">
              team
              {% if page.url contains '/team/' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>

          <!-- Publications -->
          <li class="nav-item {% if page.url contains '/publications/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/publications/' | relative_url }}">
              publications
              {% if page.url contains '/publications/' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>

          <!-- News and Events -->
          <li class="nav-item {% if page.url contains '/news-and-events/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/news-and-events/' | relative_url }}">
              news & events
              {% if page.url contains '/news-and-events/' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>

          {% if site.search_enabled %}
            <!-- Search -->
            <li class="nav-item">
              <button id="search-toggle" title="Search" onclick="openSearchModal()">
                <span class="nav-link">ctrl k <i class="ti ti-search"></i></span>
              </button>
            </li>
          {% endif %}
          {% if site.enable_darkmode %}
            <!-- Toogle theme mode -->
            <li class="toggle-container">
              <button id="light-toggle" title="Change theme">
                <i class="ti ti-sun-moon" id="light-toggle-system"></i>
                <i class="ti ti-moon-filled" id="light-toggle-dark"></i>
                <i class="ti ti-sun-filled" id="light-toggle-light"></i>
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>
